{% load staticfiles %}
<html>
<body>
<div align="center">
    <div style="font-size: 32px; margin: 25px 0; display: inline">
        Choose the best image for our poster...
    </div>
    <hr>
    <a href="{% static img.path %}"><img src="{% static img.path %}" height="480px">
    <br>
    <div style="font-size: 26px">
        <a href="start?session_id=" onClick="this.href=this.href.split('?')[0]+'?session_id='+Math.random()">
            Add your opinion >>
        </a>
    </div>
    <br>
    <hr>
    <div style="font: 30px bold;">Statistics:</div>
    <hr>
    {% include 'statistics.html' %}
</div>
</body>
</html>