{% load staticfiles %}
<html>
<body>
<div align="center">
    {% if session_id %}
    <div style="font-size: 32px; margin: 25px 0; display: inline">
        <a href="/" style="float: left; text-decoration: none">
            <img src="{% static 'home.png' %}" height="32px">Home
        </a>
        Choose the best image for our poster...
    </div>
    <hr>
    <table align="center" id="ContentTable">
    {% include 'comparison.html' %}
    </table>
    {% else %}
    No session_id
    {% endif %}
</div>
<script>
function rate(img_id, session_id)
{
    update_div('ContentTable', 'rate?img_id=' + img_id + '&session_id=' + session_id );
}
function update_div(divItem, url, callback)
{   
    if (window.XMLHttpRequest)
    {
        var xmlhttp = new XMLHttpRequest(); 
    }
    else
    {   
        var xmlhttp = new ActiveXObject('Microsoft.XMLHTTP');   
    }
     
    xmlhttp.onreadystatechange = function()
    {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
        {
            document.getElementById(divItem).innerHTML = xmlhttp.responseText; 
            if(typeof(callback)!=='undefined')
            {
                try{
                    callback();
                } catch(e) {
                }
            }
        }
    }
    xmlhttp.open('GET', url.replace(/#/g, '%23'), true);   //server don't accept #
    xmlhttp.send();
}
</script>
</body>
</html>